.scaleContainer {
  transition: transform 0.3s ease-in-out;
}

.scaleContainer:hover {
  transform: scale(1.02);
}

.priceContainer {
  position: absolute;
  top: -0.5rem;
  left: 0.2rem;

  padding: 5px;
  border-radius: 3px;
}
